html
    head
        
        meta( name="viewport" content="user-scalable=no, width=device-width, height=device-height initial-scale=1, maximum-scale=1, viewport-fit=cover" )

        // default app icon
        link( rel="icon"  type="image/png" href="/appicons/icon32x32.png" )

        // apple standalone config
        meta( name="apple-mobile-web-app-capable" content="yes" )
        meta( name="apple-mobile-web-app-status-bar-style" content="black-translucent" )
        link( rel="apple-touch-icon" href="/appicons/icon32x32.png" )
        link( rel="apple-touch-icon" sizes="57x57" href="/appicons/icon57x57.png" )
        link( rel="apple-touch-icon" sizes="76x76" href="/appicons/icon76x76.png" )
        link( rel="apple-touch-icon" sizes="120x120" href="/appicons/icon120x120.png" )
        link( rel="apple-touch-icon" sizes="152x152" href="/appicons/icon152x152.png" )
        link( rel="apple-touch-icon" sizes="167x167" href="/appicons/icon167x167.png" )
        link( rel="apple-touch-icon" sizes="180x180" href="/appicons/icon180x180.png" )

        // android webapp config TODO: manifest
        meta( name="mobile-web-app-capable" content="yes" )
        link( rel="manifest" href="/manifest.json" )
        link(rel='stylesheet', href='/css/platform.css')
        meta( name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, viewport-fit=cover' )
        
        title Platfom - Login
        
        // supporting libraries
        script( src="/lib/mustache.js" )
        script( src="/lib/Box2dWeb-2.1.a.3.js" )
        
        // legacy objects
        script( src="/js/graphicsprimitives.js" )
        
        // app scripts
        script( src="/js/localplay.js" )
        script( src="/js/localplay.domutils.js" )
        script( src="/js/localplay.log.js" )
        script( src="/js/localplay.datasource.js" )
        script( src="/js/localplay.dialogbox.js" )
        
    body( style="background-color: var(--light-blue);" )
        .login-container
            if istwitter
                .login-column.
                    Click to sign in with Twitter
                .login-column
                    img( src='/images/icons/twitter.png' class='imagebutton' style='height: 3vw;' data-href='/twitter/login' )
            else if isfacebook
                .login-column.
                     Click to sign in with Facebook
                .login-column
                    img( src='/images/icons/facebook.png' class='imagebutton' style='height: 3vw;' data-href='/facebook/login' )
            else if email
                .login-column.
                    Enter your password for #[b #{email} ] 
                .login-column
                    form#login-form( action='/local/login' method='post' enctype='application/x-www-form-urlencoded' )
                        .form-content
                            input#username( type='hidden' name='username' value= email )
                            if error
                                .form-item#register-error( style='color: red' ) #{error}
                            .form-item
                                label.form-item( for='password' ) Password #[img.form-item(src='/images/icons/password.png')]
                                input.form-item#password( type='password' name='password' placeholder='enter your password'  required minlength="6" )
                            div( style="display: flex; flex-direction: row; justify-content: space-between;")
                                input.form-item( type='submit' value='Login' )
                                input.form-item( type='button' value='Forgotten\nPassword' style='font-size: 1.5vw; background-color: transparent; border: 1px solid white;' )
            else
                .login-column.
                    Create or sign into your account here so you can build and share your own Platform games! Your Username will be visible in the games. #[br] By Signing up you agree to our #[a( href='javascript:localplay.navigateto("/terms")' ) Terms and Conditions ]
                .login-column
                    div( style="margin-bottom: 16px;" ) Login or #[a( class='button' href='javascript:localplay.navigateto("/local/register")' ) Sign up ] 
                    form#login-form( action='/local/login' method='post' enctype='application/x-www-form-urlencoded' )
                        .form-content
                            if error
                                .form-item#register-error( style='color: red' ) #{error}
                            .form-item
                                label.form-item( for='username' ) Username #[img.form-item(src='/images/icons/user.png')]
                                if username
                                    input.form-item#username( type='text' name='username' placeholder='enter your username or email' required minlength="6" value= username )
                                else
                                    input.form-item#username( type='text' name='username' placeholder='enter your username or email' required minlength="6" )
                            .form-item
                                label.form-item( for='password' ) Password #[img.form-item(src='/images/icons/password.png')]
                                input.form-item#password( type='password' name='password' placeholder='enter your password'  required minlength="6" )
                            div( style="display: flex; flex-direction: row; justify-content: space-between;")
                                input.form-item( type='submit' value='Login' )
                                input.form-item( type='button' value='Forgotten\nPassword' style='font-size: 1.5vw; background-color: transparent; border: 1px solid white;' onclick= 'javascript:localplay.navigateto("/local/requestpasswordreset");' )
                    div( style="display: flex; flex-direction: row; justify-content: space-between;")
                        img( src='/images/icons/facebook.png' class='imagebutton' style='height: 3vw;' data-href='/facebook/login' )
                        img( src='/images/icons/twitter.png' class='imagebutton' style='height: 3vw;' data-href='/twitter/login' )
        #menu-backdrop
        #title-bar
            img#title-logo( src="/images/bc-logo-white.png" )
            img#title-menu( src="/images/logo-menu.png" )
        .main-menu#main-menu
            .main-menu-item( id="menu.gallery" ) GALLERY
            .main-menu-item( id="menu.help" ) HELP
            .main-menu-item( id="menu.about" ) ABOUT
        script.
            //
            // hook links 
            //
            var links = document.querySelectorAll('.imagebutton');
            for ( var i = 0; i < links.length; i++ ) {
                ( function( link ) {
                    link.onclick = function() {
                        window.location = link.getAttribute("data-href");
                    };
                })( links[ i ] );
            }
            //
            //
            //
            var logo = document.querySelector( '#title-logo' );
            if ( logo ) {
                logo.addEventListener('click', function(e) {
                    window.location = '/';
                });
            }
            //
            // hook menu
            //
            var menu = document.querySelector('#main-menu');
            menu.addEventListener('click',function(e) {
                var item = e.target;
                var selector = item.id.split('.');
                if ( selector.length >= 2 ) {
                    switch( selector[1] ) {
                        case "gallery":
                            location = '/arcade/latest?title=Latest';
                            break;
                        case 'help':
                            window.location = '/help';
                            break;
                        case 'about':
                            window.location = '/about';
                            break;
                    }
                }
                menu.classList.remove('open'); 
                menuBackdrop.classList.remove('open'); 
            });
            var menuButton = document.querySelector('#title-menu');
            menuButton.addEventListener('click',function(e) {
                menu.classList.toggle('open'); 
                menuBackdrop.classList.toggle('open');
            });
            var menuBackdrop = document.querySelector('#menu-backdrop');
            menuBackdrop.addEventListener('click', function(e) {
                menu.classList.remove('open'); 
                menuBackdrop.classList.remove('open'); 
            });
            

